apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: llmproviders.llmruntimeop.codeplaydata.com
spec:
  group: llmruntimeop.codeplaydata.com
  names:
    kind: LlmProvider
    plural: llmproviders
    singular: llmprovider
    shortNames:
      - lp
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - OLLAMA
                    - OPENAI
                    - GOOGLE_GEMINI
                options:
                  type: object
                  additionalProperties:
                    type: string
            status:
              type: object
              properties:
                state:
                  type: string
                  enum:
                    - READY
                    - PENDING
                    - ERROR
                    - PENDING_DEPENDENCY
                message:
                  type: string
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
      additionalPrinterColumns:
        - name: Status
          type: string
          jsonPath: .status.state
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp