apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: llmmodels.llmruntimeop.codeplaydata.com
spec:
  group: llmruntimeop.codeplaydata.com
  names:
    kind: LlmModel
    plural: llmmodels
    singular: llmmodel
    shortNames:
      - lm
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          properties:
            spec:
              type: object
              properties:
                model:
                  type: string
                provider:
                  type: string
                replicas:
                  type: integer
            status:
              type: object
              properties:
                state:
                  type: string
                message:
                  type: string
      additionalPrinterColumns:
        - name: Status
          type: string
          jsonPath: .status.state
        - name: Model
          type: string
          jsonPath: .spec.model
        - name: Provider
          type: string
          jsonPath: .spec.provider